* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.twitter-box-slider,
.twitter-box-slider *:focus,
.slider-testimonials-authors,
.slider-testimonials-authors *:focus,
.slider-promo__items,
.slider-promo__items *:focus {
	outline: none;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	@include raleway_font;
	background-color: $bg-color;
	.container{
		background: $bg-color url(../img/bg.png) no-repeat bottom right;
	}
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;  
}

