$yellow: #ffea00;
$white: #fff;
$orange: #ff742b;
$bg-color: #fff9e7;


@mixin fredoka_font {  
	font-family: 'Fredoka One', cursive;
}

@mixin ptserif_font {
	font-family: 'PT Serif', serif;
}

@mixin raleway_font {
	font-family: 'Raleway', sans-serif;
}

@mixin quicksand_font {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}


@mixin gradient ($color1, $color2) {
	background: linear-gradient($color1, $color2);
}