@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header-top {
	width: 100%;
	background: $orange;
	@include gradient(#ff8230, #ff6826);
}

.header-wrap {
	display: flex;
	align-items: center;
	height: 48px;

	img {
		display: block;
		margin-bottom: -4px;
	}
}

.main-menu {
	flex-grow: 1;

	.menu-list {
		display: flex;
		justify-content: space-around;

		.menu-list__item {
			position: relative;

			&:hover {
				.sub-menu-list {
					visibility: visible;
					opacity: 1;
				}
			}

			a {
				@include quicksand_font;
				font-size: 12px;
				color: $white;
				margin-left: 17px;
				display: inline-block;
				line-height: 46px;
				text-transform: uppercase;
				border-top: 2px solid transparent;
				transition: all .3s;

				&:hover {
					border-top: 2px solid $yellow;
					color: $yellow;
				}
			}
		}
	}

	.sub-menu-list {
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		position: absolute;
		top: 48px;
		left: 17px;
		background-color: #fff;
		padding: 25px 25px;
		box-shadow: 5px 5px 1px rgba(#000, .15);
		z-index: 5;

		&::before {
			content: "";
			position: absolute;
			border-bottom: 10px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			top: -10px;
			left: 25%;
			// transform: translateX(-50%);
		}

		.sub-menu-list__item {
			a {
				color: #7b7a79;
				display: inline-block;
				width: 100%;
				margin: 0;
				line-height: 35px;

				&:hover {
					border-top: 2px solid transparent;
					// line-height: 48px;
					color: $orange;
				}
			}
		}
	}
}


.header-cart {
	flex-grow: 1;
	text-align: right;
	color: #fff;
	@include quicksand_font;

	i,
	a {
		color: $yellow;
	}

	.cart-link {
		@include ptserif_font;
		font-style: italic;
		font-size: 14px;
		font-weight: normal;
		text-decoration: underline;
		padding: 0 7px;
	}

	span {
		display: inline-block;
		height: 15px;
		border-right: 1px dotted rgba(#fff, .6);
		margin: 0 10px 0 0;
		padding-right: 10px;
		padding-bottom: 15px;
		font-size: 14px;
	}
}

.home-slider {
	&__item {
		// background-size: cover !important;
		min-height: 663px;
	}

	&__title {
		padding: 105px 20px 0px;
		@include fredoka_font;
		font-size: 68px;
		line-height: 84px;
		text-align: center;
		color: #fff;
		text-shadow: 7px 7px 0 rgba(#000, .1);
	}

	&__row {
		display: flex;
		align-items: center;
		margin-top: -25px;
		min-height: 410px;
	}

	&__descr {
		width: 37%;
		padding-left: 80px;
		z-index: 5;

		.descr__title {
			@include fredoka_font;
			padding: 0 0 18px 0;
			color: $yellow;
			font-size: 24px;
		}

		.descr__text {
			@include raleway_font;
			font-size: 13px;
			line-height: 24px;
			color: #fff;
			padding: 0 0 18px 0;
		}

		.descr__slogan {
			@include ptserif_font;
			font-style: italic;
			font-size: 24px;
			color: #fff;
		}
	}

	&__img {
		width: 40%;
		margin-left: -50px;
		z-index: 1;
	}

	&__price {
		width: 140px;
		height: 140px;
		background: #4ba321;
		border-radius: 100%;
		text-align: center;
		line-height: 140px;
		@include fredoka_font;
		font-size: 54px;
		color: $yellow;
		text-shadow: 7px 7px 0 rgba(#000, .1);
		margin-left: -80px;
		margin-top: 20px;
		z-index: 5;
	}

	.slick-dots {
		position: absolute;
		top: 50%;
		left: 60px;
		transform: translateY(-50%);

		button {
			border: none;
			font-size: 0;
			height: 10px;
			width: 10px;
			border-radius: 100%;
			background-color: rgba(#000, .1);

			&:focus {
				box-shadow: 0 0 5px $yellow;
				outline: none;
			}
		}

		.slick-active {
			button {
				background-color: rgba(#000, .4);
			}
		}
	}
}

//******************SLICK-SLIDER-FIX********************
.slick-vertical .slick-slide {
	border: none;
}

//******************************************************

.section-about {

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		@include fredoka_font;
		font-size: 54px;
		color: #a07258;
		text-align: center;
		padding: 50px 0 15px 0;
		margin: 0;
		margin-bottom: 20px;
		border-bottom: 2px solid #e2d0bc;
	}

	&__text {
		@include ptserif_font;
		font-size: 23px;
		color: #a07258;
		padding: 0 90px 30px;
	}

	&__sub-text {
		@include raleway_font;
		font-size: 12px;
		text-align: center;
		color: #a07258;
		font-weight: 500;
		padding-bottom: 50px;
	}
}

.section-search {
	margin-bottom: 70px;

	&__form {
		display: flex;
	}

	&__text-area {
		width: 780px;
		height: 80px;
		border: 3px solid #ffeb90;
		border-right: none;
		padding: 0 30px;
		margin: 0;
		@include ptserif_font;
		font-size: 21px;
		color: $orange;

		&::placeholder {
			@include ptserif_font;
			font-size: 21px;
			color: #e6dad3;
		}

		&:focus {
			box-shadow: 0 0 5px $yellow;
			outline: none;
		}
	}

	&__button {
		border: none;
		height: 80px;
		width: 180px;
		padding-bottom: 5px;
		@include gradient(#ff6c22, #ff4817);
		@include fredoka_font;
		border-bottom: 3px solid #e94415;
		border-top: 3px solid #ff6c22;
		color: #fff;
		font-size: 20px;
		cursor: pointer;

		&:hover {
			@include gradient(#ff4817, #ff6c22);
			color: $yellow;
			border-bottom: 3px solid #ff6c22;
			border-top: 3px solid #e94415;
		}

		&:focus {
			box-shadow: 0 0 5px $yellow;
			outline: none;
		}

		i {
			padding-left: 16px;
			font-size: 24px;
			color: rgba($yellow, .6);
			transform: translateY(5px);
		}

	}

}

.main-wrap {
	width: 960px;
	margin: 0 auto;
	box-shadow: 0 35px 35px rgba(#b15221, .11);
	margin-bottom: 40px;
}

.section-promo {


	.wrapper {
		display: flex;
		align-items: stretch;
	}


	&__video {
		display: flex;
		align-items: center;
		position: relative;
		min-height: 340px;
		width: 50%;
		background: #000;
		color: #fff;

		img {
			width: 100%;
			opacity: .5;
		}

		figcaption {
			position: absolute;
			display: flex;
			align-items: center;

			a {
				color: #fff;
			}

			.video-icon {
				display: inline-block;
				width: 85px;
				height: 85px;
				font-size: 30px;
				line-height: 85px;
				text-align: center;
				padding-left: 5px;
				margin-left: 40px;
				border-radius: 100%;
				background: rgba(#000, .5);
			}

			.video-title {
				@include fredoka_font;
				font-size: 34px;
				font-weight: 100;
				margin-left: 35px;
			}

			.video-subtitle {
				@include raleway_font;
				font-weight: 500;
				font-size: 13px;
				display: inline-block;
				transform: translateY(-15px);
			}

		}

	}

	&__cite {
		width: 50%;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px 195px 20px 57px;
		color: #fff;
		position: relative;
		overflow: hidden;

		&::before {
			content: "\f10d";
			font-family: 'Font Awesome 5 Free';
			position: absolute;
			top: 40px;
			left: -20px;
			font-size: 90px;
			font-weight: 900;
			color: rgba(#000, .3);

		}

		.cite__title {
			@include ptserif_font;
			font-weight: 700;
			font-size: 26px;
			padding-bottom: 8px;
			z-index: 5;
		}

		.cite__subtitle {
			font-size: 12px;
			color: #b8ece8;
			padding-bottom: 15px;
			z-index: 5;
		}

		.cite {
			@include ptserif_font;
			font-style: italic;
			font-size: 14px;
			line-height: 24px;
			font-weight: 100;
			z-index: 5;
		}
	}
}

.slider-promo {

	&__headline {
		display: flex;
		align-items: center;
		@include gradient(#ff6c22, #ff4817);
	}

	&__arrow-box {
		display: flex;
		flex: 0 0 111px;

		.slider-promo__arrow-left,
		.slider-promo__arrow-right {
			flex: 1 0 auto;
			text-align: center;
			background: #eb4516;
			font-size: 20px;
			color: #ffcaae;
			cursor: pointer;

			&:hover {
				background: #e95125;
				color: $yellow;
			}

			i {
				height: 80px;
				line-height: 80px;
			}
		}

		.slider-promo__arrow-right {
			border-left: 1px solid #df4115;
		}
	}


	&__title {
		flex: 1 1 auto;
		@include fredoka_font;
		font-size: 43px;
		color: #fff;
		font-weight: 100;
		text-align: center;
		height: 80px;
		line-height: 80px;
		padding-left: 75px;
	}

	&__options {
		@include ptserif_font;
		font-size: 15px;
		color: #ffeb90;
		margin-right: 25px;

		span {
			@include quicksand_font;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #fff;
			padding-left: 3px;
			position: relative;
			cursor: pointer;

			.underline {
				display: inline-block;
				border-bottom: 1px dashed #fff;
				width: calc(100% - 4px);
				height: 1px;
				position: absolute;
				left: 3px;
				bottom: 1px;
			}
		}

		&::after {
			content: "\f063";
			font-family: 'Font Awesome 5 Free';
			font-size: 10px;
			font-weight: 900;
		}
	}

	&__items {
		max-height: 350px;
		overflow: hidden;
	}

	&__img {
		height: 263px;
		padding: 20px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: all .3s;
	}

	&__item {
		height: 420px;
		background: #fff;
		border-right: 1px solid #f8f4f3;



		&:hover {
			.slider-promo__img {
				height: 193px;
			}
		}
	}

}

.item__title {
	padding: 0 0 20px;
	@include raleway_font;
	text-align: center;
	font-size: 12px;
}

.item__price {
	@include fredoka_font;
	font-size: 26px;
	padding: 0 0 25px;
	text-align: center;
}

.item__button {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	display: block;
	min-height: 70px;
	line-height: 70px;
	color: #fff;
	text-align: center;
	background: #000;
	@include gradient(#f74e30, #f33621);
	@include fredoka_font;
	font-size: 26px;
	font-weight: 100;

	&:hover {
		@include gradient(#f33621, #f74e30);
	}

	i {
		color: $yellow;
		font-size: 24px;
		margin-right: 10px;
	}
}

.section-experience {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 516px;
		padding: 0 120px 0;
		color: #fff;
	}

	&__title {
		@include fredoka_font;
		font-size: 44px;
		letter-spacing: 0.74em;
		font-weight: 100;
		text-shadow: 5px 8px #faa429;
		padding: 30px 0 40px 30px;
		position: relative;

		// border-bottom: 1px solid #fff;
		&::before {
			content: "";
			display: inline-block;
			height: 1px;
			width: calc(100% - 60px);
			background-color: rgba(#fff, .5);
			position: absolute;
			bottom: 0;
			left: 30px;
		}
	}

	&__text {
		@include ptserif_font;
		font-size: 24px;
		line-height: 40px;
		letter-spacing: 0.5px;
		text-align: center;
		text-shadow: 2px 2px #faa429;
		margin: 25px 0 0;
	}

	.button-wrap {
		height: 50px;
		margin-top: 30px;
	}

	&__button {
		display: block;
		height: 30px;
		width: 95px;
		background-color: #fff;
		@include quicksand_font;
		font-weight: bold;
		color: $orange;
		line-height: 30px;
		text-transform: uppercase;
		font-size: 10px;
		border-radius: 15px;
		padding: 1px 0 0 20px;
		box-shadow: 1px 2px #faa429;
		transition: all .2s;

		&:hover {
			margin-top: -1px;
			box-shadow: 1px 3px #faa429;
		}
	}
}

.section-blog {
	min-height: 750px;

	.wrapper {
		display: flex;
	}

	.aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		flex: 0 0 270px;

		&__input {
			position: relative;
		}

		&__input-submit {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			color: #fff;
			font-size: 12px;
		}

		&__title {
			@include fredoka_font;
			font-weight: 100;
			font-size: 58px;
			color: $orange;
			padding-top: 40px;
			padding-bottom: 30px;
		}

		&__subscription-title {
			font-size: 14px;
			font-weight: 500;
			color: $orange;
			padding-bottom: 14px;
		}

		&__input-mail {
			border: none;
			width: 190px;
			height: 35px;
			@include gradient(#f26124, #ff8130);
			padding: 0 40px 0 20px;
			border-radius: 18px;
			color: #fff;
			font-size: 12px;

			&:focus {
				box-shadow: 0 0 5px $yellow;
				outline: none;
			}

			&:focus::placeholder {
				color: transparent;
			}

			&::placeholder {
				color: #fff;
				font-size: 12px;
			}
		}

		&__article {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 190px;
			padding: 30px 0;
			border-bottom: 1px solid #f2f2f2;
		}

		.article-title {
			text-align: center;
			@include ptserif_font;
			font-size: 17px;
			font-weight: 400;
			line-height: 20px;
			color: #000;
		}

		.article-databox {
			display: flex;
			justify-content: center;
			padding: 20px 0 15px;
			color: #c5c3c2;
			font-size: 12px;

			i {
				padding-right: 8px;
			}

			.article-data {
				padding-right: 15px;
			}
		}
	}
}

.section-testimonials {
	max-width: 690px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider-testimonials-top {


	.testimonials__author {
		@include ptserif_font;
		font-size: 26px;
		padding: 50px 0 15px 40px;
	}

	.testimonials__address {
		@include raleway_font;
		font-weight: 500;
		font-size: 12px;
		color: #c5c3c2;
		padding-left: 40px;

		i {
			padding-right: 10px;
		}
	}

	.testimonials__title {
		@include ptserif_font;
		font-style: italic;
		font-size: 22px;
		font-weight: 100;
		color: #7b7a79;
		padding: 0 40px;
	}

	.gallery-box {
		display: flex;
		margin-top: 35px;

		

		
	}

	.gallery-box *:focus{
		outline: none;
	}

	.testimonials__text {
		margin-top: 30px;
		padding: 0 40px;
		font-size: 13px;
		line-height: 28px;
		color: #7b7a79;
	}
}

.border-wrap {
	border-top: 3px solid #fff3ef;
	// border-bottom: 3px solid #fff3ef;
	margin-top: 30px;
	height: 240px;
}

.slider-testimonials-authors {
	margin-top: -15px;
	padding: 0 75px 12px 75px;
	display: flex;
	position: relative;

	.slick-arrow {
		position: absolute;
		height: calc(100% - 2px);
		width: 65px;
		font-size: 0;
		border: none;
		background-color: #fff3ef;
		cursor: pointer;

		&:hover {
			@include gradient(#5bb628, #3b901a);

			&::after {
				color: #fff;
			}
		}
	}

	.slick-prev {
		top: 12px;
		left: 0;

		&::after {
			content: "\f060";
			display: inline-block;
			height: 20px;
			width: 20px;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			font-size: 20px;
			color: $orange;
		}
	}

	.slick-next {
		top: 12px;
		right: 0;

		&::after {
			content: "\f061";
			display: inline-block;
			height: 20px;
			width: 20px;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			font-size: 20px;
			color: $orange;
		}
	}

	.slider-testimonials-authors__item {
		position: relative;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		height: 230px;
		padding-top: 50px;
		cursor: pointer;


		.author-img {
			width: 125px;
			height: 125px;
			border: 11px solid transparent;
			border-radius: 100%;
		}

		.author-title {
			margin-top: 15px;
			@include ptserif_font;
			font-size: 17px;
			font-weight: 700;
		}

		.author-address {
			margin-top: 5px;
			font-size: 13px;
			color: #7b7a79;
		}
	}

	.slick-current .author-img {
		border: 11px solid #ffefdc;
	}

	.slick-current .slider-testimonials-authors__item {

		&::before {
			content: "";
			height: 0;
			width: 0;
			border-bottom: 12px solid #ffefdc;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			position: absolute;
			top: 0px;
		}

		&::after {
			content: "";
			height: 0;
			width: 0;
			border-bottom: 12px solid #fff;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			position: absolute;
			top: 3px;
		}
	}
}

.section-gallery {
	padding-bottom: 70px;

	.wrapper {
		display: flex;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 235px;
		flex: 0 1 320px;

	}

	&__title {
		@include fredoka_font;
		font-size: 36px;
		font-weight: 100;
		color: #fff;
		padding-left: 40px;
	}

	&__link {
		margin: 5px 0 0 40px;
		@include quicksand_font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 0.7px;
		color: #fff;

		&:hover {
			color: $yellow;
		}
	}

	.shadow-orange {
		box-shadow: 0 30px 60px -30px #ff742b;
	}

	.shadow-green {
		box-shadow: 0 30px 60px -30px #4ba321;
	}

	.shadow-pink {
		box-shadow: 0 30px 60px -30px #da2d50;
	}
}

.section-support {
	margin-bottom: 80px;

	a {
		color: #7b7a79;
	}

	.wrapper {
		display: flex;
	}

	.support-box {
		display: flex;
		flex: 0 1 320px;
	}

	.support-list {
		width: 160px;

		&__title {
			@include fredoka_font;
			font-size: 20px;
			font-weight: 100;
			color: $orange;
			padding-bottom: 10px;
		}

		&__item {
			@include raleway_font;
			font-size: 12px;
			padding-top: 15px;

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.contacts-list {
		width: 320px;

		.support-list__item a:hover {
			text-decoration: none;
			text-shadow: 2px 2px 0 rgba(#000, .2);
		}

		.phone {
			@include quicksand_font;
			font-weight: 400;
			font-size: 34px;
			margin-top: -15px;
		}

		.mail {
			font-size: 14px;
		}

		.address {
			b {
				font-size: 16px;
			}

			i {
				font-size: 14px;
				margin-right: 10px;
				color: #c5c3c2;
			}
		}
	}

	.twitter-box {
		max-width: 320px;

		.slider-wrap {
			display: flex;
			width: 320px;
		}

		&__title {
			@include fredoka_font;
			font-weight: 100;
			font-size: 20px;
			color: #5ad2ff;
			padding-bottom: 20px;

			i {
				font-size: 20px;
				padding-right: 10px;
			}
		}
	}

	.twitter-slider-arrows {
		margin-right: 20px;

		.arrow-up,
		.arrow-down {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px 0;
			height: 16px;
			width: 16px;
			padding-left: 1px;
			background-color: #c1a392;
			color: #fff;
			border-radius: 50%;
			font-size: 8px;
			cursor: pointer;
		}
	}

	.twitter-box-slider {
		max-width: 290px;

		&__item {
			min-height: 100px;
			@include ptserif_font;
			font-style: italic;
			font-size: 14px;
			line-height: 20px;
			color: #7b7a79;

			.item-date {
				display: block;
				padding-top: 10px;
				@include raleway_font;
				font-style: normal;
				font-size: 12px;
				color: #c5c3c2;

				&__link {
					font-weight: 700;
					color: #5ad2ff;
				}
			}
		}
	}
}

.footer {
	min-height: 220px;
	background-color: $orange;
	box-shadow: inset 0 10px 30px #f54128;
}

.footer-nav {
	height: 85px;
	border-bottom: 2px dashed rgba(#fff, .3);
	display: flex;
	align-items: center;
	justify-content: center;

	&__list {
		display: flex;
	}

	&__item {
		text-transform: uppercase;
		@include quicksand_font;
		font-weight: 700;
		font-size: 13px;
		margin: 0 35px;
		position: relative;

		&::before {
			content: "";
			height: 4px;
			width: 4px;
			background-color: #fff;
			border-radius: 50%;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: -35px;
			transform: translate(-50%, -50%);
		}

		&:first-child::before {
			display: none;
		}
	}

	&__link {
		color: #fff;

		&:hover {
			color: $yellow;
			text-decoration: underline;
		}
	}
}

.footer-bootomline {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 140px;

	.social-links {
		font-size: 42px;
		line-height: 40px;
		border-right: 1px solid rgba(#fff, .5);
		padding-right: 30px;

		&__list {
			display: flex;
		}

		&__item {
			margin: 0 7px;
			transition: all .1s;

			&:hover {
				margin-top: -5px;
				text-shadow: 3px 5px 0 rgba(#000, .2);
			}
		}

		&__link {
			color: #fff;
		}
	}

	.copyright {
		color: #fff;
		padding-left: 30px;
		font-weight: 500;
		font-size: 12px;
	}
}

@import "media";